/.CrossTreeConstraintTransformation.java._trace
/.StructTransformation.java._trace
/.CrossTreeConstraintTransformation.xtendbin
/.StructTransformation.xtendbin
/CrossTreeConstraintTransformation.java
/StructTransformation.java
