<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FeatureIDE-XSD -->
      <package
            uri="file:/D:/Uni/Bachelorarbeit/Thesis%20Repository/XSD-Schema/XMLSPY/FeatureIDE-XSD.xsd"
            class="FeatureIDEXSD.FeatureIDEXSDPackage"
            genModel="model/FeatureIDE-XSD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated FeatureIDE-XSD -->
      <parser
            type="featureidexsd"
            class="FeatureIDEXSD.util.FeatureIDEXSDResourceFactoryImpl"/>
   </extension>

</plugin>
